<div id='container' ng-controller="ShortenController">
<!-- Your code here -->
<nav class="navigation">
  <ul>
    <li><a ng-href="#/links">Links</a></li>
    <li><a ng-href="#/shorten">Shorten</a></li>
  </ul>
</nav>

<form name="shortLink" ng-submit="invalidUrl(newLink)" novalidate>
  <input type="url" ng-model="newLink" ng-required="true" />
  <button ng-click="addLink(newLink)" ng-disabled="shortLink.$invalid">SUBMIT!</button>
</form>

<div class="error" ng-show="shortLink.$invalid && shortLink.$dirty">
<p>ERROR: Invalid URL</p>
</div>
</div>


